In [166]:
import pandas as pd
df = pd.read_csv(r"C:\Users\BNP12\OneDrive\Documents\pandas_exercise.csv")
df.drop('name', axis=1)

KeyError: "['name'] not found in axis"

In [4]:
# df.head()
# It will show you only the first 5 rows by default
df.head()

      Name             Major  Birth_Year  Age  Num1  Num2
0  ujjawal  computer science        2003   19    23   -98
1    brian  computer science        2002   67  6778  8998
2      sam      data science        1990   12   687   909
3   samuel        psychology        2001   19    34    34
4   mouusa         sociology        2002   67  1223   345

In [5]:
df.head(2)

      Name             Major  Birth_Year  Age  Num1  Num2
0  ujjawal  computer science        2003   19    23   -98
1    brian  computer science        2002   67  6778  8998

In [6]:
# df.info()

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        6 non-null      object
 1   Major       6 non-null      object
 2   Birth_Year  6 non-null      int64
 3   Age         6 non-null      int64
 4   Num1        6 non-null      int64
 5   Num2        6 non-null      int64
dtypes: int64(4), object(2)
memory usage: 416.0+ bytes

In [7]:
df.describe() ##only for columns that are number

        Birth_Year        Age         Num1        Num2
count     6.000000   6.000000     6.000000     6.00000
mean   1998.000000  32.666667  1661.333333  2270.00000
std       6.228965  26.778101  2563.053856  3543.48117
min    1990.000000  12.000000    23.000000   -98.00000
25%    1992.750000  13.750000   197.250000   111.75000
50%    2001.500000  19.000000   955.000000   627.00000
75%    2002.000000  55.000000  1223.000000  2801.25000
max    2003.000000  67.000000  6778.000000  8998.00000

In [ ]:
# Selecting & Indexing
iloc & loc --> 
iloc stands for interger location, it always take in index(number) and gives you the desired subset of pandas
loc stands for location. We always use string numbering on that

#the syntax: 
# .iloc[row_number, column_number]
# .loc[row, column]

In [165]:
del df['Num2']

KeyError: 'Num2'

In [146]:
df

KeyError: "['Num2'] not found in axis"

In [22]:
df.loc[0:2, ['Name', 'Major']]

      Name             Major
0  ujjawal  computer science
1    brian  computer science
2      sam      data science

In [19]:
df.loc[0:3, :]

      Name             Major  Birth_Year  Age  Num1  Num2
0  ujjawal  computer science        2003   19    23   -98
1    brian  computer science        2002   67  6778  8998
2      sam      data science        1990   12   687   909
3   samuel        psychology        2001   19    34    34

In [23]:
df.iloc[0:2, 0:2]  # equivalent to df.loc[0:1, ['Name', 'Major']]

      Name             Major
0  ujjawal  computer science
1    brian  computer science

In [25]:
df.loc[0:1, ['Name', 'Major']]

      Name             Major
0  ujjawal  computer science
1    brian  computer science

In [28]:
# Acess the columms
df["Age"].tolist()

[19, 67, 12, 19, 67, 12]

In [29]:
df["Age"].tolist()

[19, 67, 12, 19, 67, 12]

In [30]:
# Filtering
condition = df['Age']>15

# Mask --> to filter out the True values --> df[]
df[condition]

      Name             Major  Birth_Year  Age  Num1  Num2
0  ujjawal  computer science        2003   19    23   -98
1    brian  computer science        2002   67  6778  8998
3   samuel        psychology        2001   19    34    34
4   mouusa         sociology        2002   67  1223   345

In [34]:
import numpy as np
from numpy import random

In [107]:
# getting random value betwween a range

val = random.randint(3, 100)
val

3

In [110]:
# Return a sample (or samples) from the “standard normal” distribution.

val = random.randn(3, 5)
val

array([[ 0.66247539,  0.39344251, -0.40056112, -0.02539769, -0.24623992],
       [ 1.28972103, -1.47483838,  0.01863819,  0.91574497, -0.05644264],
       [-0.59647102,  0.07075038, -0.44894593, -1.10212115,  0.62020499]])

In [141]:
df = pd.DataFrame(val)
df = df[df > 0]
df.style.highlight_null(null_color="green")

In [117]:
df = pd.DataFrame(val, columns=['A', 'B', 'C', 'D', 'E'])
df

          A         B         C         D         E
0  0.662475  0.393443 -0.400561 -0.025398 -0.246240
1  1.289721 -1.474838  0.018638  0.915745 -0.056443
2 -0.596471  0.070750 -0.448946 -1.102121  0.620205

In [124]:
df = pd.DataFrame(val, columns=['A', 'B', 'C', 'D', 'E'], index=['X', 'Y', 'Z'])
df[df > 0]

In [142]:
df = df.drop('E', axis=1) # drop a column

KeyError: "['E'] not found in axis"

ujjawal.shah@bison.howard.edu