In [54]:
recipes = {}
omelette = {'omelette': {'eggs': '2 eggs', 'milk': '1/4 cup', 'cheese': '1/3 cup'}}
garlic_bread = {'garlic bread': {'bread': '1 breadstick', 'garlic': '3 cloves', 'butter': '1 stick'}}
pbj_sandwich = {'pbj sandwich': {'bread': '2 slices', 'peanut butter': '1 tablespoon', 'jelly': '1 tablespoon'}}

recipes.update(omelette)
recipes.update(garlic_bread)
recipes.update(pbj_sandwich)

def recipe_list(recipes):
    ingredient_list = []
    for i in recipes:
        ingredient_list.append(recipes[i])
    return ingredient_list

print(recipe_list(recipes))

[{'eggs': '2 eggs', 'milk': '1/4 cup', 'cheese': '1/3 cup'}, {'bread': '1 breadstick', 'garlic': '3 cloves', 'butter': '1 stick'}, {'bread': '2 slices', 'peanut butter': '1 tablespoon', 'jelly': '1 tablespoon'}]

In [1]:
1+2

3

### tHIS HAS 3 POUND SIGNS
## THIS HAS 2 POUND SIGNS
# THIS HAS 1 POUND SIGN

## List 
This is very very often used in data science

In [5]:
my_lst = ['Sam', 'Brian', 'Moussa Doumbia', 'Ujjawal', 'Samuel', 'kiara']
my_lst

['Sam', 'Brian', 'Moussa Doumbia', 'Ujjawal', 'Samuel', 'kiara']

In [6]:
# add something to a list
# use append() --> will add a element to the last of the list

my_lst.append('George')
my_lst

['Sam', 'Brian', 'Moussa Doumbia', 'Ujjawal', 'Samuel', 'kiara', 'George']

In [7]:
# remove() --> will let you remove the list element by a value
my_lst.remove('Ujjawal')
my_lst

['Sam', 'Brian', 'Moussa Doumbia', 'Samuel', 'kiara', 'George']

In [9]:
# Indexing --> Indexing means to get the particualar list element from the list
## In python , index always begins from 0
my_lst[3]

'Samuel'

my_lst[0] --> gave me the first element<br>
my_lst[3] --> give me the 4th element<br>

In [10]:
## Reverse indexing
# But the reverse index will start from -1. (when you try to index from the end)
my_lst[-1]

'George'

In [11]:
# Slicing ---> means to get the bunch of elements at once
# python never touches the last index point, it's because the indexing is from the 0
my_lst[0:4]

['Sam', 'Brian', 'Moussa Doumbia', 'Samuel']

In [ ]:
# Slicing formula

listname[start_index:end_index:step]
by default start_index --> 0
by default end_index --> len(whole_list)
step by default is --> 1

In [15]:
my_lst[:] #my_lst

['Sam', 'Brian', 'Moussa Doumbia', 'Samuel', 'kiara', 'George']

In [16]:
my_lst[1:5]

['Brian', 'Moussa Doumbia', 'Samuel', 'kiara']

In [18]:
# replace the particular value from a list

my_lst[2] = 'Prof. Moussa Doumbia'  # I am overwrting the value in the list
my_lst

['Sam', 'Brian', 'Prof. Moussa Doumbia', 'Samuel', 'kiara', 'George']

In [19]:
# this is reverse of the list in one line
my_lst[::-1]

['George', 'kiara', 'Samuel', 'Prof. Moussa Doumbia', 'Brian', 'Sam']

# STRING

the main difference between list and string is that list value can be updated(overwrite) but string value cannot be overwritten

In [3]:
my_str = 'Cat'
your_str = 'dog'
my_str + your_str

'Catdog'

### my_str[0] = 'D'
This is a error

In [6]:
my_str = 'Cat'
my_str[:]

'taC'

In [22]:
my_str[0:2]

'Ca'

In [23]:
## Repeat the string multiple times

my_str * 3

'CatCatCat'

In [24]:
# len() --> means the length
len(my_str)

3

In [29]:
my_str = 'Cookie'
my_str.upper()

'COOKIE'

In [37]:
# strip() --> it will edit the string to have no extra spaces at the start and at the end
my_str = '     My name is Ujjawal       '
my_str.rstrip()
# my_str

'     My name is Ujjawal'

In [40]:
# split() --> One of the very important

fruit_names = 'Bananas + apple + kiwi + orange + pineapple + mango'
fruit_names.split('+')

['Bananas ', ' apple ', ' kiwi ', ' orange ', ' pineapple ', ' mango']

In [43]:
#emaail --> firstnamelastname@domainname.com

email = 'ujjawal.shah@bison.howard.edu'
name = email.split('@')[0]
domain = email.split('@')[1]
print(name)

ujjawal.shah

In [46]:
domain.split('.')

['bison', 'howard', 'edu']

In [48]:
#with replace, you can also play to remove certain character as well
email = 'ujjawal.shah@bison.howard.edu'
email = email.replace('.shah', '') 
email

'ujjawal@bison.howard.edu'

In [49]:
#with replace, you can also play to remove certain character as well
email = 'ujjawal.shah@bison.howard.edu'
email = email.replace('.shah', '.noshah') 
email

'ujjawal.noshah@bison.howard.edu'

**alphanumeric, meaning alphabet letter (a-z) and numbers (0-9)**

In [60]:
e = "12ab@"
# type(e)
e.isalnum()

False

In [ ]:
maquan.smith@bison.howard.edu
You can email him this file

In [ ]:
# Dictionaries
# Set
# Function
# map
# If else
# while loop
# for loop

The last thing before class is pandas.

In [8]:
# Dictionaries is like a data hub. Data hub is something that stores a value for a particular property

student_1 = {'Name': 'Brian',
            'Major': 'Data Science',
            'Age': 10,
            'Country': 'USA',
            'Phone Number': 1234567890,
            'Laptop Brand': 'HP'}

student_2 = {'Name': 'Smith',
            'Major': 'Data Science',
            'Age': 18,
            'Country': 'USA',
            'Phone Number': 1234568970,
            'Laptop Brand': 'Dell'}

student_2['Country']

'USA'

In [9]:
# Dictionary always has key & value. Key is our main hero here. It's because it is what willgive us the particular value
# keys are always unique. It can't never be duplicate.

In [10]:
# accesign the key values

# Age is the key, the value of it can be accesed by:
student_1['Age']

10

In [65]:
student_1['Laptop Brand']

'HP'

In [12]:
# Add another key value to a dictionary
student_2['Height'] = 6.2
student_2

{'Name': 'Smith',
 'Major': 'Data Science',
 'Age': 18,
 'Country': 'USA',
 'Phone Number': 1234568970,
 'Laptop Brand': 'Dell',
 'Height': 6.2}

In [14]:
# if the value is there, it will update the value else it will create a new key itself
student_2['Height'] = 6.0
student_2

{'Name': 'Smith',
 'Major': 'Data Science',
 'Age': 18,
 'Country': 'USA',
 'Phone Number': 1234568970,
 'Laptop Brand': 'Dell',
 'Height': 6.0}

In [13]:
# Remove a key
del student_2['Height']
student_2

{'Name': 'Smith',
 'Major': 'Data Science',
 'Age': 18,
 'Country': 'USA',
 'Phone Number': 1234568970,
 'Laptop Brand': 'Dell'}

In [26]:
my_lst = ['Sam', 'kiara', 'SAMUEL']

for name in my_lst:
    name_length = len(name)
    if name_length > 3 and name.isupper() == True :
        print(name)

SAMUEL

In [27]:
my_lst = ['Sam', 'kiara', 'SAMUEL']

for name in my_lst:
    name_length = len(name)
    if name_length > 3 or name.isupper() == True :
        print(name)

kiara
SAMUEL

In [21]:
student_list = {'Ujjawal':[2.8, 'International'],
               'Sam': [3.6, 'Domestic'],
               'Kiara':[3.8, 'International'],
               'Smith':[3.6, 'Domestic'],
               'Brian': [3.9, 'Domestic']}
for key, value in student_list.items():
    print(key, value)

Ujjawal [2.8, 'International']
Sam [3.6, 'Domestic']
Kiara [3.8, 'International']
Smith [3.6, 'Domestic']
Brian [3.9, 'Domestic']

In [22]:
student_list = {'Ujjawal':[2.8, 'International'],
               'Sam': [3.6, 'Domestic'],
               'Kiara':[3.8, 'International'],
               'Smith':[3.6, 'Domestic'],
               'Brian': [3.9, 'Domestic']}
'''
Our code shoudl be filter out: 
a) Students having gpa >= 3.7
b) He/she should be a Domestic Student
'''

for student_name, details in student_list.items():
    gpa = details[0]
    nationality = details[1]
    
    if gpa >= 3.7 and nationality == 'Domestic':
        print(f'{student_name} has the required eligibilty for this program')

Brian has the required eligibilty for this program

In [29]:
# f'string
# It just to print in a desired manner

fname = 'Brian'
lname = 'Paul'
final_output = f'My first name is {fname} and my last name is {lname}'
print(final_output)

My first name is Brian and my last name is Paul

In [30]:
# Set

#THE MAIN THING TO REMEMBER IN A SET is that --> IT NEVER ALLOWS DUPLICATE VALUE
# set()

my_lst = [1,2,2,3,3,3,4,4,4,4,5,5,5,5,5]
set(my_lst)

{1, 2, 3, 4, 5}

In [ ]:
# In pandas, set uses:
# when you need to get the unique values
# USED FOR A VARIABLE THAT USUALLY USED AS A UNIQUE ATTRIBUTE

### while loop

In [31]:
## The major difference between a for loop and while loop is that, while loop is always run until a condition 
## is met ,whereas for loop is used when you need to run a loop 'n' times.

In [32]:
my_lst = ['Sam', 'kiara', 'SAMUEL']
for name in my_lst:
    print(name)

Sam
kiara
SAMUEL

In [34]:
my_lst = ['Sam', 'kiara', 'SAMUEL']

indexx = 0
while indexx < len(my_lst):
    name = my_lst[indexx]
    print(name)
    indexx = indexx + 1 # important bcoz omiiting this one will run a infinite loop --> iyt's bcoz index will always be 0

Sam
kiara
SAMUEL

## function
## lambda
## map
## filter

In [37]:
# function

def square(num):
    return num **2

print(square(25))

625

In [38]:
my_lst = [2,4,5,6]

def square_lst(lst):
    final_lst = []
    for num in lst:
        squared_num = num ** 2
        final_lst.append(squared_num)
    return final_lst

print(square_lst(my_lst))

[4, 16, 25, 36]

In [40]:
my_lst = [2,4,5,6]
final_lst = []
for num in my_lst:
    squared_num = num ** 2
    final_lst.append(squared_num)
print(final_lst)

[4, 16, 25, 36]

In [44]:
def square_num(num):
    return num ** 2

my_lst = [2,4,5,6]

# map(function_name, list_name)
mapped = map(square_num, my_lst)
print(list(mapped))

[4, 16, 25, 36]

In [45]:
# alternative way to write short function
# lambda x: x**2
# x --> input
# x**2 --> output

square_num = lambda a: a ** 2
my_lst = [2,4,5,6]
mapped = map(square_num, my_lst)
print(list(mapped))

[4, 16, 25, 36]

In [ ]:
# filter is very similar to map, except that it's gonna print only the True value in a iterable.

In [49]:
'''
function: function that tests if each element of a 
sequence true or not.'''

# function that filters vowels
def check_vowel(variable):
    letters = ['a', 'e', 'i', 'o', 'u']
    if (variable in letters):
        return True
    else:
        return False
 
# sequence
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r']
 
# using filter function
filtered = map(check_vowel, sequence)
 
list(filtered)

[False, True, True, False, False, False, False, False]

In [50]:
'''
function: function that tests if each element of a 
sequence true or not.'''

# function that filters vowels
def check_vowel(variable):
    letters = ['a', 'e', 'i', 'o', 'u']
    if (variable in letters):
        return True
    else:
        return False
 
# sequence
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r']
 
# using filter function
filtered = filter(check_vowel, sequence)
 
list(filtered)

['e', 'e']