In [14]:
recipes = {}
omelette = {'omelette': {'eggs': '2 eggs', 'milk': '1/4 cup', 'cheese': '1/3 cup'}}
garlic_bread = {'garlic bread': {'bread': '1 breadstick', 'garlic': '3 cloves', 'butter': '1 stick'}}
pbj_sandwich = {'pbj sandwich': {'bread': '2 slices', 'peanut butter': '1 tablespoon', 'jelly': '1 tablespoon'}}

recipes.update(omelette)
recipes.update(garlic_bread)
recipes.update(pbj_sandwich)

def recipe_list(recipes):
    ingredient_list = []
    for i in recipes:
        ingredient_list.append(recipes[i])
        #print(list(recipes[i]))
    return ingredient_list

print(recipe_list(recipes))

[{'eggs': '2 eggs', 'milk': '1/4 cup', 'cheese': '1/3 cup'}, {'bread': '1 breadstick', 'garlic': '3 cloves', 'butter': '1 stick'}, {'bread': '2 slices', 'peanut butter': '1 tablespoon', 'jelly': '1 tablespoon'}]

In [1]:
1+2

3

### tHIS HAS 3 POUND SIGNS
## THIS HAS 2 POUND SIGNS
# THIS HAS 1 POUND SIGN

## List 
This is very very often used in data science

In [5]:
my_lst = ['Sam', 'Brian', 'Moussa Doumbia', 'Ujjawal', 'Samuel', 'kiara']
my_lst

['Sam', 'Brian', 'Moussa Doumbia', 'Ujjawal', 'Samuel', 'kiara']

In [6]:
# add something to a list
# use append() --> will add a element to the last of the list

my_lst.append('George')
my_lst

['Sam', 'Brian', 'Moussa Doumbia', 'Ujjawal', 'Samuel', 'kiara', 'George']

In [7]:
# remove() --> will let you remove the list element by a value
my_lst.remove('Ujjawal')
my_lst

['Sam', 'Brian', 'Moussa Doumbia', 'Samuel', 'kiara', 'George']

In [9]:
# Indexing --> Indexing means to get the particualar list element from the list
## In python , index always begins from 0
my_lst[3]

'Samuel'

my_lst[0] --> gave me the first element<br>
my_lst[3] --> give me the 4th element<br>

In [10]:
## Reverse indexing
# But the reverse index will start from -1. (when you try to index from the end)
my_lst[-1]

'George'

In [11]:
# Slicing ---> means to get the bunch of elements at once
# python never touches the last index point, it's because the indexing is from the 0
my_lst[0:4]

['Sam', 'Brian', 'Moussa Doumbia', 'Samuel']

In [ ]:
# Slicing formula

listname[start_index:end_index:step]
by default start_index --> 0
by default end_index --> len(whole_list)
step by default is --> 1

In [15]:
my_lst[:] #my_lst

['Sam', 'Brian', 'Moussa Doumbia', 'Samuel', 'kiara', 'George']

In [16]:
my_lst[1:5]

['Brian', 'Moussa Doumbia', 'Samuel', 'kiara']

In [18]:
# replace the particular value from a list

my_lst[2] = 'Prof. Moussa Doumbia'  # I am overwrting the value in the list
my_lst

['Sam', 'Brian', 'Prof. Moussa Doumbia', 'Samuel', 'kiara', 'George']

In [19]:
# this is reverse of the list in one line
my_lst[::-1]

['George', 'kiara', 'Samuel', 'Prof. Moussa Doumbia', 'Brian', 'Sam']

# STRING

the main difference between list and string is that list value can be updated(overwrite) but string value cannot be overwritten

In [3]:
my_str = 'Cat'
your_str = 'dog'
my_str + your_str

'Catdog'

### my_str[0] = 'D'
This is a error

In [21]:
my_str[:]

'Cat'

In [22]:
my_str[0:2]

'Ca'

In [23]:
## Repeat the string multiple times

my_str * 3

'CatCatCat'

In [24]:
# len() --> means the length
len(my_str)

3

In [29]:
my_str = 'Cookie'
my_str.upper()

'COOKIE'

In [37]:
# strip() --> it will edit the string to have no extra spaces at the start and at the end
my_str = '     My name is Ujjawal       '
my_str.rstrip()
# my_str

'     My name is Ujjawal'

In [40]:
# split() --> One of the very important

fruit_names = 'Bananas + apple + kiwi + orange + pineapple + mango'
fruit_names.split('+')

['Bananas ', ' apple ', ' kiwi ', ' orange ', ' pineapple ', ' mango']

In [43]:
#emaail --> firstnamelastname@domainname.com

email = 'ujjawal.shah@bison.howard.edu'
name = email.split('@')[0]
domain = email.split('@')[1]
print(name)

ujjawal.shah

In [46]:
domain.split('.')

['bison', 'howard', 'edu']

In [48]:
#with replace, you can also play to remove certain character as well
email = 'ujjawal.shah@bison.howard.edu'
email = email.replace('.shah', '') 
email

'ujjawal@bison.howard.edu'

In [49]:
#with replace, you can also play to remove certain character as well
email = 'ujjawal.shah@bison.howard.edu'
email = email.replace('.shah', '.noshah') 
email

'ujjawal.noshah@bison.howard.edu'

**alphanumeric, meaning alphabet letter (a-z) and numbers (0-9)**

In [60]:
e = "12ab@"
# type(e)
e.isalnum()

False

In [ ]:
maquan.smith@bison.howard.edu
You can email him this file

In [ ]:
# Dictionaries
# Set
# Function
# map
# If else
# while loop
# for loop

The last thing before class is pandas.

In [62]:
# Dictionaries is like a data hub. Data hub is something that stores a value for a particular property

student_1 = {'Name': 'Brian',
            'Major': 'Data Science',
            'Age': 10,
            'Country': 'USA',
            'Phone Number': 1234567890,
            'Laptop Brand': 'HP'}

student_2 = {'Name': 'Smith',
            'Major': 'Data Science',
            'Age': 18,
            'Country': 'USA',
            'Phone Number': 1234568970,
            'Laptop Brand': 'Dell'}

student_2['Country']

'USA'

In [ ]:
# Dictionary always has key & value. Key is our main hero here. It's because it is what willgive us the particular value
# keys are always unique. It can't never be duplicate.

In [63]:
# accesign the key values

# Age is the key, the value of it can be accesed by:
student_1['Age']

10

In [65]:
student_1['Laptop Brand']

'HP'

In [ ]:
#